{% extends 'park/base.html' %}
{% load static %}

{% block title %}Add Animal{% endblock %}

{% block style_n_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static '/JS/add_picture.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/list.css' %}">
{% endblock %}

{% block header %}
<p id="main_page_head">Add Animal Data</p>
{% endblock %}

{% block content %}
<div class="list_div">
        <a href="{% url 'park:index' %}"><button class="button button_menu">&#127968; Home</button></a>
        <a href="{% url 'park:search' %}"><button class="button button_menu">&#X1F50E; Search</button></a>
        <a href="{% url 'park:animal_list' 'All' %}"><button class="button button_menu">&#X1F4C4; Animal List</button></a>
</div>
        <div class="list_div" style="text-align:left;">
        <form action="{% url 'park:add_animal' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
            <h3>กรอกข้อมูลสัตว์ที่ต้องการเพิ่ม</h3>
            <hr><br>

            ชื่อไทย ( thai name ) : <input type="text" name="thai_name" /><br/><br/>
            ชื่ออังกฤษ ( name ) : <input type="text" name="name" /><br/><br/>
            ชั้น ( Class ) : 
            <select name="class_name">
                <option value="Mammal">Mammal</option>
                <option value="Reptile">Reptile</option>
                <option value="Bird">Bird</option>
                <option value="Amphibian">Amphibian</option>
                <option value="Fish">Fish</option>
            </select><br/><br/>
            ลำดับ ( order ) : <input type="text" name="order" /><br/><br/>
            วงศ์ ( family ) : <input type="text" name="family" /><br/><br/>
            <div>ข้อมูลทั่วไป ( info ) : <div><textarea name="info" cols="80" rows="10"></textarea></div></div><br/>
            ถิ่นที่อยู่ ( habitat ) : <div><textarea name="habitat" cols="80" rows="10"></textarea></div><br/>
            รูป : <br>          
   		<div class="input_fields_wrap">
   	    	<div><input type="file" id="pic_file" name="pic_file" accept=".png , .jpg"></div>
		</div>
        <p id="add_alert"></p>
		<button type="button" class="add_field_button">Add More Picture</button><br><br>
		
        <input type="submit" name="submit" value="Submit"/>
        </form>
        </div>
{% endblock %}