<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    {% block style_n_script %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
    <div id="header">
        {% block header %}{% endblock %}
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
        <div class="text-footer">By Thakdanai Khunsaen Cpr.E 13 KMUTNB</div>
        <a href="{% url 'park:about' %}">
            <button class="button-footer" name="about"><p>About</p></button>
        </a>
        <a href="{% url 'park:add_animal' %}">
            <button class="button-footer" name="add_animal"><p>Add Animal</p></button>
        </a>
    </div>
    </div>
</body>
</html>