{% extends 'park/base.html' %}
{% load static %}
{% block title %}Animal{% endblock %}

{% block style_n_script %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block header %}Animals{% endblock %}

{% block content %}
    <div class="list_button">
    <a href="{% url 'park:search' %}"><button class="block-all">
        <p>&#X1F50E; search</p>
    </button></a>

    <a href="{% url 'park:animal_list' 'All' %}"><button class="block-left" >
        <p>สัตว์ทั้งหมด<br>All Animals<br>
        <span style="font-size:16px">({{ all_animal }})</span>
    </p></button></a>

    <a href="{% url 'park:animal_list' 'Mammal' %}"><button class="block-right">
        <p>สัตว์เลี้ยงลูกด้วยนม<br>Mammal<br>
        <span style="font-size:16px">({{ mammal_num }})</span>
    </p></button></a>

    <a href="{% url 'park:animal_list' 'Reptile' %}"><button class="block-left">
        <p>สัตว์เลื้อยคลาน<br>Reptile<br>
        <span style="font-size:16px">({{ reptile_num }})</span>
    </p></button></a>

    <a href="{% url 'park:animal_list' 'Bird' %}"><button class="block-right">
        <p>สัตว์ปีก<br>Bird<br>
        <span style="font-size:16px">({{ bird_num }})</span>
    </p></button></a>

    <a href="{% url 'park:animal_list' 'Amphibian' %}"><button class="block-left">
        <p>สัตว์ครึ่งบกครึ่งน้ำ<br>Amphibian<br>
        <span style="font-size:16px">({{ amphibian_num }})</span>
    </p></button></a>

    <a href="{% url 'park:animal_list' 'Fish' %}"><button class="block-right">
        <p>สัตว์น้ำ<br>Fish<br>
        <span style="font-size:16px">({{ fish_num }})</span>
    </p></button></a>
    </div>
{% endblock %}