{% extends 'park/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block style_n_script %}
    <link rel="stylesheet" href="{% static '/css/list.css' %}">
{% endblock %}

{% block header %}
<p id="main_page_head">Search</p>
{% endblock %}

{% block content %}
<div class="list_div">
<a href="{% url 'park:index' %}"><button class="button button_menu">&#127968; Home</button></a>
<a href="{% url 'park:animal_list' 'All' %}"><button class="button button_menu">&#X1F4C4; Animal List</button></a>
</div>
<div class="list_div">
        <form action="{% url 'park:search' %}" method="get">
            <input type="text" name="word" style="width:400px" />
            <input type="submit" name="submit" value="SEARCH!"/><br/>
            ค้นจาก : 
            <label><input type="radio" name="search" value="name"/> ชื่อสัตว์</label>
            <label><input type="radio" name="search" value="order"/> ลำดับ</label>
            <label><input type="radio" name="search" value="family"/> วงศ์</label>
            <label><input type="radio" name="search" value="info"/> ข้อมูลทั่วไป</label>
            <label><input type="radio" name="search" value="habitat"/> ถิ่นที่อยู่</label>
            <label><input type="radio" name="search" value="all" checked /> ทั้งหมด</label>
        </form>


        {% if word %}
        <div>
            ค้นหาด้วยคำว่า : {{ word }} <br/>

        {% if lists %}
            (พบรายชื่อสัตว์ {{ lists.count }} รายการ)
        </div>
    {% for animal in lists %}
        <a href="{% url 'park:animal_data' animal.url_name %}">
            {% if forloop.counter|divisibleby:2 %}
            <button name="{{ animal.name }}" class="block-list list_{{ animal.class_name }}">
            {% else %}
            <button name="{{ animal.name }}" class="block-list list-left list_{{ animal.class_name }}">
            {% endif %}
            <b class="animal_name">{{ animal.thai_name }} ( {{ animal.name }} )</b><br>
            <table>
                <tr><td><b>ชั้น :</b></td><td> &nbsp;{{ animal.class_name }}</td></tr>
                <tr><td><b>ลำดับ :</b></td><td> &nbsp;{{ animal.order }}</td></tr>
                <tr><td><b>วงศ์ :</b></td><td> &nbsp;{{ animal.family }}</td></tr>
            </table>
            </button></a>
{% endfor %}
{% else %}
    <p>ไม่พบรายชื่อสัตว์ที่ค้นหา.</p>
{% endif %}
{% endif %}
</div>
{% endblock%}
        