.list_div {
display: table;
margin: 20px auto;
text-align: center;
padding: 20px;
border-radius: 30px;
background-color:rgba(255,255,255,0.8);
}

.button {
    font-size: 14px;
    width: 110px;
    padding: 10px 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 25px;
    cursor: pointer;
    
}

.button_menu {
    font-size: 24px;
    width: 250px;
    padding: 10px 15px;
    margin: 10px 10px;
    background-color: #4CAF50; /* Green */
    border: 2px solid #4CAF50;
    color: white;
}

.button_All {
    background-color: white; 
    color: black; 
    border: 2px solid #123456;
}

.button_All:hover, .sel_bt_All {
    background-color: #123456;
    color: white;
    border: 2px solid #123456;
}

.button_Mammal {
    background-color: white; 
    color: black; 
    border: 2px solid #ac7339;
}

.button_Mammal:hover, .sel_bt_Mammal {
    background-color: #ac7339;
    color: white;
    border: 2px solid #ac7339;
}

.button_Reptile {
    background-color: white; 
    color: black; 
    border: 2px solid #ff4d4d;
}

.button_Reptile:hover, .sel_bt_Reptile {
    background-color: #ff4d4d;
    color: white;
    border: 2px solid #ff4d4d;
}

.button_Bird {
    background-color: white;
    color: black;
    border: 2px solid #04BF9D;
}

.button_Bird:hover, .sel_bt_Bird {
    background-color: #04BF9D;
    color: white;
    border: 2px solid #04BF9D;}

.button_Fish {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button_Fish:hover, .sel_bt_Fish {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}
.button_Amphibian {
    background-color: white;
    color: black;
    border: 2px solid #ff8533;
}

.button_Amphibian:hover, .sel_bt_Amphibian {
    background-color: #ff8533;
    color: white;
    border: 2px solid #ff8533;
}
.block-list{
	margin: 10px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    outline: none;
    float: left;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
	width: 600px;
    height: 180px;
    color: white;
    text-shadow: 1px 1px 0 #444;
}
.block-list:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.block-list p{
    margin: auto auto;
    vertical-align: middle;
}
.block-list table{
    color: white;
    font-size:18px;
    text-shadow: 1px 1px 0 #444;
	
}
.list-left {
	clear: both;
}

.animal_name {
    font-size: 28px;
}
.list_Mammal{background-color:#ac7339; }
.list_Reptile{background-color:#ff4d4d; }
.list_Bird{background-color:#04BF9D; }
.list_Fish{background-color:#008CBA; }
.list_Amphibian{background-color: #ff8533; }